body {
  background-color: rgb(198, 210, 201);
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(17, 0, 255);
  text-align: center;
}
#form {
  border: 4px solid #085cb1;
  border-radius: 20px;
  padding: 10px;
}
.form-bg {
  background-color: #4fb8a1;
}
