body {
  background-color: rgb(168, 129, 131);
}
.container {
  text-align: center;
  position: relative;
}
.form-control {
  font-size: 1;
  height: 30px;
}
.btn {
  height: 30px;
}
.sticky-header {
  position: sticky;
  height: 40px;
  top: 0;
  background-color: rgb(168, 129, 131);
  z-index: 1000;
}
.sticky-header h5 {
  text-align: center;
  margin-top: 10px;
}
.row.mt-3 {
  margin-top: 10px;
}
.card-body {
  padding-bottom: 0.5rem;
}
p {
  margin-bottom: 0px;
}
h1 {
  text-align: center;
}
.title_alt {
  padding-left: 1.25rem;
  margin-bottom: 0.5rem;
}
.list-group-flush {
  margin-bottom: 0.5rem;
  text-align: center;
  overflow-y: auto;
  max-height: 200px;
}
.card {
  padding: 0;
}
